{% extends 'blog/basic.html' %}
{% load static %}
{% block body %}
<body>
  <div class="container mt-3">
    <div class="row my-2">
      {% for post in posts %}
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">{{post.title}}</strong>
              <h3 class="mb-0">{{post.heading0}}</h3>
              <div class="mb-1 text-muted">{{post.pub_date}}</div>
              <p class="card-text mb-auto">{{post.contentHead0|slice:"0:150"}}...</p>
              <a href="{%url 'blogPost' post.post_id %}" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
              <img class="bd-placeholder-img" width="200" height="250" src = "/media/{{post.thumbnail}}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
{% endblock %}