{% extends 'shop/basic.html' %}
{% load static %}

{% block title %}
 <title> {{ prod.product_name }} - My Awesome Cart </title>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-4 my-2">
      <img src="/media/{{prod.image}}" width="233px" height="385px">
    </div>

    <div class="col-md-8 my-2">
      <h5>Name:{{ prod.product_name }}</h5>
      <p>Price: Rs.{{prod.price}}</p>
      <p>{{prod.desc}}</p>
    </div>
  </div>
  <button class="btn btn-primary mx-2"> Buy Now</button>
  <button class="btn btn-primary mx-2 "> Add To Cart</button>

</div>
{% endblock %}
